<div class="container">
  <div class="col-md-6 mx-auto">
    <div class="card w-30 p-3 mt-5">
      <h2>No matches for your search</h2>
      <%= link_to "Return to all Cocktails",  cocktails_path, class: "btn btn-primary"; %>
    </div>
  </div>
</div>
