  <div class="container">
    <div class="cards my-5">
      <% @cocktails.each do |c| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= c.image_url %>)">
         <%= link_to c.name, cocktail_path(c) %>
        </div>
      <% end %>
    </div>
  </div>

