.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .nav-img {
  width: 150px;
}

.cocktail-button {
  text-decoration: none;
  float: right;
  color: #666;
    &:hover {
      text-decoration: none;
      color: black;
    }
}

